<footer>
    <section>
        <div>
            <img src = 'images/logoDJACKIT.png'>
            <h4>Leuke DJ uit Oosterwold!</h4>
        </div>
        <div>
            <h3>Informatie</h3>
            <p>
                ewrwer <br>
                werwr <br>
                werewrwer <br>
                ewrewrewr <br>
                werewrewrewr <br>
            </p> 
        </div>
        <div>
            <h3>Contact</h3>
            <p>
                Melvin <br>
                Zandkamp 92 <br>
                3828GE Hoogland <br>
                T: 06-18780127 <br>
                E: djmelvinamersfoort@gmail.com <br>
        
                KvK-Nummer: 55892604 <br>
                BTW-Nummer: NL205212098B01 <br>
            </p> 
        </div>
    </section>
</footer>