<header>
    <img class="logo" src="images/logoDJACKIT.png" alt="logo">

    <nav>
        <ul class="navLinks">
            <li><a href="/">HOME</a></li>
            <li><a href="/setup">SETUP</a></li>
            <li><a href="/costs">KOSTEN</a></li>
            <li><a href="/aboutMe">OVER DJACKIT</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>
</header>

<script src="js/activeButton.js"></script>
