<%- include('./partials/header.ejs') %>

<main>
    <section>
        <h2>Contact</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quae a iste praesentium perspiciatis maxime
            assumenda molestias quasi, nemo amet vero, fugit voluptatem enim consequatur, consectetur aspernatur? Ea, sequi
            quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet temporibus dignissimos quasi aliquid
            provident? Provident quam labore vel ratione animi tempore repellendus nesciunt, excepturi ipsa dicta nemo,
            laboriosam facere vitae.
        </p>
    </section>

    <section class="containerIcons">
        <div class="containerIcon">
            <i class='material-icons'>call</i>
            <h3>06-22588475</h3>
        </div>
        <div class="containerIcon">
            <i class='material-icons'>mail</i>
            <h3>info@djackit.nl</h3>
        </div>
        <div class="containerIcon">
            <i class='material-icons'>house</i>
            <h3>Hildegard van bingeweg 97</h3>
        </div>
    </section>
</main>

<%- include('./partials/footer.ejs') %>