<%- include('./partials/header.ejs') %>

    <main>
        <section class='intro'>
            <div class='introText'>
                <h1>HALLO!</h1>
                <H2>MAAK KENNIS MET DJACKIT</H2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt deleniti iste recusandae
                    dignissimos blanditiis? Voluptatem sed a minus quisquam maxime facere adipisci, excepturi culpa
                    fugiat voluptas doloremque illo quam placeat!
                </p>
            </div>
            <div class='introImg'>
                <img src="images/jack.jpg">
            </div>
        </section>

        <section class="containerIcons">
            <div class="containerIcon">
                <i class='material-icons'>music_note</i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dicta modi consectetur libero nisi
                    consequatur necessitatibus veniam accusamus reprehenderit voluptatum, amet placeat itaque iure,
                    commodi cupiditate asperiores ea illo harum!</p>
            </div>
            <div class="containerIcon">
                <i class='material-icons'>celebration</i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dicta modi consectetur libero nisi
                    consequatur necessitatibus veniam accusamus reprehenderit voluptatum, amet placeat itaque iure,
                    commodi cupiditate asperiores ea illo harum!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quasi ut enim molestias ullam vitae
                    quam a unde, sit corporis assumenda officia, quae dicta, doloribus dignissimos rerum reprehenderit
                    accusantium. Atque!</p>
            </div>
            <div class="containerIcon">
                <i class='material-icons'>speaker</i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dicta modi consectetur libero nisi
                    consequatur necessitatibus veniam accusamus reprehenderit voluptatum, amet placeat itaque iure,
                    commodi cupiditate asperiores ea illo harum!</p>
            </div>
        </section>

        <section>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam consectetur molestiae perspiciatis
            doloribus sequi nobis earum error nostrum? Laudantium veniam molestiae obcaecati a consequuntur
            perspiciatis? Iusto aut non assumenda odio.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deserunt non sit neque nisi eius odit quod
            suscipit repellendus magni! Repellendus aspernatur laboriosam exercitationem voluptatibus autem, in placeat
            quam numquam.
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
