<%- include('./partials/header.ejs') %>

<main>
    <h2>SETUP</h2>
    <section class="BasicSet">
        <h3>Basis</h3>
        <p>
            De basis DJ set is de basis van waaruit wij alles kunnen opbouwen Deze set bestaat uit de losse onderdelen
            welke hieronder staan vermeld. Wilt u meer geluid, licht of video kijk dan in de menu naar optie
            “Uitbreiding Basis Set”. Uiteraard als u vragen hebt, neem gerust contact op.
        </p>
        <div>
            <img src="images/basisSet/ADJ-starburst.jpg">
            <img src="images/basisSet/EuroLite.png">
            <img src="images/basisSet/Freestyler.png">
            <img src="images/basisSet/GrandVjXt.jpg">
            <img src="images/basisSet/HP-Elitebook.jpg">
            <img src="images/basisSet/laserBar.jpg">
            <img src="images/basisSet/Mackie.jpg">
            <img src="images/basisSet/maschine_mk3.jpg">
            <img src="images/basisSet/mashine_3.jpg">
            <img src="images/basisSet/native-instruments-traktor-kontrol-s8.jpg">
            <img src="images/basisSet/native-instruments-traktor-pro.jpg">
            <img src="images/basisSet/opvouwbareDJBooth.jpg">
            <img src="images/basisSet/Rookmachine-Ayra-1200.jpg">
            <img src="images/basisSet/TV.jpeg">
        </div>
    </section>
    <section>
        <h3>Uitbreiding</h3>
        <p>
            Hier kunt u kiezen wat u naast de basis set nog meer wilt, kan huren qua Licht, Geluid en Video.
        </p>
    </section>
</main>

<%- include('./partials/footer.ejs') %>